%h2 Saturday Nov 5, 2011
%ul
	%li code clean up
	%li reset gemspecs and formalized requirements
	%li rspec testing setup

%h2 Friday Nov 4, 2011
%ul
	%li total campaign revenue
	%li new calls per day
	%li number of follow ups per day
	%li emails per day
	%li contacts per sale
	%li ad types
	%li units per sale
	%li average durations of listings
	%li calls per day

%h2 Thursday Nov 3, 2011
%ul
	%li initial system setup
	%li companies, campaigns, attempts