.accordion
	-#
		%h2
			%a{ :href => "#"}
		%div
			%ul
				%li

	%h2
		%a{ :href => "#"}Tuesday Nov 8, 2011
	%div
		%ul
			%li split attempts into attempts and sales
			%li added sales relationships
			%li updated stats for now sales model
			%li added goal to campaign
			%li added new associations
			%li sales and attempts are associated with a user
			%li cleaned up goal percentage display
							
	%h2
		%a{ :href => "#"}Monday Nov 7, 2011
	%div
		%ul
			%li converted views to haml
			%li removed time entry from attempt creation page
			%li set ordering for pages
			%li changed meaning of attempt.success to verbal
			%li cleaned up index pages
				
	%h2
		%a{ :href => "#"}Sunday Nov 6, 2011
	%div
		%ul
			%li added release notes
			%li made release notes into accordion
			%li added basic authorization (AuthLogic)
			%li 
				added admin user level
				%ul
					%li allows the creation of new users
					%li allows to view the current users list
			%li added some styles
			%li added pagination
			%li added pagination styles
			%li removed xml views

	%h2
		%a{ :href => "#" }Saturday Nov 5, 2011
	%div
		%ul
			%li code clean up
			%li reset gemspecs and formalized requirements
			%li rspec testing setup

	%h2
		%a{ :href => "#" }Friday Nov 4, 2011
	%div
		%ul
			%li total campaign revenue
			%li new calls per day
			%li number of follow ups per day
			%li emails per day
			%li contacts per sale
			%li ad types
			%li units per sale
			%li average durations of listings
			%li calls per day

	%h2
		%a{ :href => "#" } Thursday Nov 3, 2011
	%div
		%ul
			%li initial system setup
			%li companies, campaigns, attempts