.accordion
	-#
		%h2
			%a{ :href => "#"}
		%div
			%ul
				%li
	%h2
		%a{ :href => "#"}Sunday Nov 6, 2011
	%div
		%ul
			%li added release notes
			%li made release notes into accordion

	%h2
		%a{ :href => "#" }Saturday Nov 5, 2011
	%div
		%ul
			%li code clean up
			%li reset gemspecs and formalized requirements
			%li rspec testing setup

	%h2
		%a{ :href => "#" }Friday Nov 4, 2011
	%div
		%ul
			%li total campaign revenue
			%li new calls per day
			%li number of follow ups per day
			%li emails per day
			%li contacts per sale
			%li ad types
			%li units per sale
			%li average durations of listings
			%li calls per day

	%h2
		%a{ :href => "#" } Thursday Nov 3, 2011
	%div
		%ul
			%li initial system setup
			%li companies, campaigns, attempts