body {
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	color: #333;
}

#wrapper {
	margin-top: 1em;
	margin-bottom: 1em;
}
#wrapper > div {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #d7d7d7;
	box-shadow: 0 5px 20px #d7d7d7;
}

#navigation {
	padding: 5px 0;
	margin: 0 0 1em;
	
	color: #aaa;
	background: #333;
}

.menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li {
	display: inline-block;
	padding: 5px 10px;
}

.menu a {
	color: #aaa;
	text-decoration: none;
}
.menu a:hover {
	color: #aaa;
	text-decoration: underline;
}

.checkbox {
	float: left;
	margin: 0 10px 10px 0;
}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }

h1, h2, h3, h4, h5, h6 {
	margin: 0.3em 0 0.5em;
	line-height: 1.2;
	
}

h1 {
	margin: 0 0 0.8em;
}


a { color: #666; }
a:hover { color: #333; }


/* @group clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* @end */